body{
  background-color:#ffffff;
}

.flex-container{
  display:flex;
  flex-wrap:wrap;
  gap:2rem;
}

.row{
  margin:0;
}

.rohan{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

#card-image {
  width:28rem;
  height:25rem;
  object-fit:cover;
  filter:blur(15px);
}

#amazon-button {
  visibility:hidden
}

.card-columns {
  column-count:2;
}

.card-body{
  box-shadow:2px 2px 10px 2px #d6d6d6;
  transition:all 0.2s ease-out;
/*   margin:1rem; */
  border:none;
}

.bg-warning{
  background-color:rgb(255,255,255/0.1);
  backdrop-filter:blur(3px)
}

.navbar-dark .navbar-brand{
  color:black;
  transition:all 0.2s ease-out;
}

.card-body:hover{
  transform:scale(1.01);
  box-shadow:2px 2px 8px 5px #d6d6d6;
  
  
}



